@import '../../styles/mixins';

.aorder-button {
  background-color: #eee;
  background-color: pink;
  button, span {
    transition: 1s;
  }
  button {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  .qty {
    text-align: center;
    width: 3em;
  }
}
